.DS_Store
vue-element-admin/node_modules/
vue-element-admin/dist/
vue-element-admin/npm-debug.log*
vue-element-admin/yarn-debug.log*
vue-element-admin/yarn-error.log*
**/*.log

vue-element-admin/test/unit/coverage
vue-element-admin/test/e2e/reports
vue-element-admin/selenium-debug.log

# Editor directories and files
.idea
vue-element-admin/.idea
.vscode
vue-element-admin/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

package-lock.json
